{{>header}}
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center" class="esd-block-image es-p10t es-p10b" style="font-size: 0px;"><a target="_blank"><img
						src="https://ecrsyop.stripocdn.email/content/guids/CABINET_91d375bbb7ce4a7f7b848a611a0368a7/images/69901618385469411.png"
						alt="" style="display: block;" width="100"></a>
			</td>
		</tr>
		<tr>
			<td align="center" class="esd-block-text es-p10t es-m-txt-c" style="padding: 20px">
				<h3>Your account has been created successfully!</h3>
			</td>
		</tr>
		<tr>
			<td align="left" class="esd-block-text es-p10t es-m-txt-c" style="padding: 20px">
				<p>Hello {{ fullName }},</p>
			</td>
		</tr>
		<tr>
			<td align="left" class="esd-block-text es-p10t es-m-txt-c" style="padding: 20px">
				<p>Your account information is as follows:</p>
			</td>
		</tr>
	</tbody>
</table>
<table cellpadding="0" cellspacing="0" width="100%" style="border-radius: 5px; border-collapse: separate;">
	<tbody>
		<tr>
			<td align="left" class="esd-block-text es-p10t es-m-txt-c" style="padding: 20px">
				<div class="otp-block" style="text-align: left; padding: 5px 10px;">
					<ul style="padding: 0;">
						<li>Email: {{ email }}</li>
						<li>Password: {{ password }}</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td align="left" class="esd-block-text es-p10t es-m-txt-c" style="padding: 20px">
				<p style="line-height: 150%;"> Please keep this information safe for future logins to Nestjs Boilerplate Website.</p>
				<p style="line-height: 150%;"> If you have any questions, please contact us at contact@example.com.</p>
			</td>
		</tr>
		<tr>
			<td align="left" class="esd-block-text es-p10t es-m-txt-c" style="padding: 20px">
				<p style="line-height: 150%;">If you didn't request this, you can ignore this email or let us know.</p>
			</td>
		</tr>
		<tr>
			<td align="left" class="esd-block-text es-p10t es-m-txt-c" style="padding: 20px">
				<strong style="line-height: 150%;">Sincerely, </strong>
				<p>[Nestjs Boilerplate]</p>
			</td>
		</tr>
	</tbody>
</table>
{{>footer}}
