{{>header}}
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center" class="esd-block-image es-p10t es-p10b" style="font-size: 0px;"><a target="_blank"><img
						src="https://ecrsyop.stripocdn.email/content/guids/CABINET_91d375bbb7ce4a7f7b848a611a0368a7/images/69901618385469411.png"
						alt="" style="display: block;" width="100"></a>
			</td>
		</tr>
		<tr>
			<td align="center" class="esd-block-text es-p15t es-p15b es-p40r es-p40l es-m-p0r es-m-p0l es-m-txt-c"
				esd-links-underline="none">
				<h3>Password reset&nbsp;</h3>
			</td>
		</tr>
		<tr>
			<td align="center" class="esd-block-text es-p10t" style="padding: 20px">
				<p>Hello, Please use the verification code below to reset your password:</p>
			</td>
		</tr>
	</tbody>
</table>
<table cellpadding="0" cellspacing="0" width="100%" style="border-radius: 5px; border-collapse: separate;">
	<tbody>
		<tr>
			<td align="center" class="esd-block-button es-p10t es-p10b">
				<div class="otp-block">{{ code }}</div>
			</td>
		</tr>
		<tr>
			<td align="center" class="esd-block-text es-p10t es-m-txt-c" style="padding: 20px">
				<p style="line-height: 150%;"> This OTP is valid for one use only. Expires in {{ ttl }} minutes.</p>
				<p style="line-height: 150%;"> Please do not share this OTP to anyone else.</p>
			</td>
		</tr>
		<tr>
			<td align="center" class="esd-block-text es-p10t es-p10b">
				<p style="line-height: 150%;">If you didn't request this, you can ignore this email or let us know.</p>
			</td>
		</tr>
	</tbody>
</table>
{{>footer}}
